@use './fonts.scss';
@use './dialog.scss';
@use './material-theme';

body {
    font-family: 'Regular' !important;
}

ol, ul {
    list-style-type: none;
    padding: 0;
}

.pointer {
    cursor: pointer;
}