<form [formGroup]="form" class="row">
    <mat-form-field class="d-block col-12" appearance="outline">
        <mat-label>Amount to edit</mat-label>
        <input matInput type="number" formControlName="amount">
    </mat-form-field>
    <mat-form-field class="d-block col-12" appearance="outline">
        <mat-label>Is random</mat-label>
        <mat-select formControlName="isRandom">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="buttons d-flex justify-content-end gap-2">
          <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary" (click)="save()">Edit</button>
      </div>
</form>